body {
  font-family: Poiret One;
}

body * {
  margin: 0px;
  padding: 0px;
}

.navbar-brand p {
  font-family: Fredericka the great;
  font-size: 60px;
  font-weight: normal;
  color: #ffffff;
  text-shadow: 0.110em 0.08em 0.110em #adb5bd;
}

.navbar {
  background: #111d5e;
}

header h1 {
  font-family: Fredericka the great;
  font-size: 90px;
}

h2 {
  font-weight: bold;
  font-size: 60px;
  color: #373A3C;
  text-shadow: 0.110em 0.10em 0.110em #adb5bd;
}

h3 {
  font-weight: bold;
  font-size: 30px;
  color: #ffffff;
  text-shadow: 0.100em 0.10em 0.100em #495057;
}

hr {
  width: 10%;
  height: 0.5px;
  background: #373A3C;
  margin-top: 20px;
  margin-bottom: 60px;
}

header {
  background-image: url('../img/Arya-y-yo-color.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position:top;
  text-shadow: 0.125em 0.25em 0.125em #707070;
  padding: 25rem 8rem;
}

.biografia {
  background: #c70039;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.7);
}

.biografia p {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  line-height: 200%;
  text-align: justify;
}

.biografia hr {
  background: #ffffff;
}

.experiencia img {
  width: 40%;
  height: 120px;
}

.experiencia h5 {
  font-size: 22px;
  font-weight: bold;
  color: #373A3C;
  margin-top: 15px;
  line-height: 100%;
}

.experiencia p {
  font-size: 16px;
  font-weight: bold;
  color: #373A3C;
  margin-top: 15px;
  line-height: 100%;
}

.cuadrado {
  background: #111d5e;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.7);
}

.carousel-indicators {
  top: 50px;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 25%;
}

.unico {
  width: 100%;
  height: 0.5px;
  background: #373A3C;
  margin-top: 20px;
}

.trabajos {
  background: #f37121;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.7);
}

.trabajos h2 {
  text-shadow: none;
}

footer {
  background: #c0e218;
  box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.7);
  padding-top: 20px;
  padding-bottom: 20px;
}

footer p {
  font-family: Fredericka the great;
  font-size: 60px;
  font-weight: normal;
  color: #ffffff;
  text-shadow: 0.110em 0.08em 0.110em #adb5bd;
}

footer i {
  margin: 0 0.25em 0.5em 0.25em;
}



@media only screen and (max-width: 425px) {

  header {
    background-image: url('../img/Yo-represa-maipo.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position:top;
    text-shadow: 0.125em 0.25em 0.125em #707070;
    padding: 22rem 8rem;
  }

  header h1 {
    font-family: Fredericka the great;
    font-size: 40px;
    color: #c70039;
  }

  .navbar-brand p {
    font-family: Fredericka the great;
    font-size: 40px;
    font-weight: normal;
    color: #ffffff;
    text-shadow: 0.110em 0.08em 0.110em #adb5bd;
  }

  h2 {
    font-weight: bold;
    font-size: 35px;
    color: #373A3C;
    text-shadow: 0.110em 0.10em 0.110em #adb5bd;
  }


  footer p {
    font-family: Fredericka the great;
    font-size: 40px;
    font-weight: normal;
    color: #ffffff;
    text-shadow: 0.110em 0.08em 0.110em #adb5bd;
    text-align: center;
    padding-bottom: 20px;
  }



}
