body {
  font-family: Poiret One;
}

body * {
  margin: 0px;
  padding: 0px;
}

.navbar-brand p {
  font-family: Fredericka the great;
  font-size: 70px;
  font-weight: regular;
  color: #ffffff;
}

.navbar {
  background: #111d5e;
}

a .nav-link {
  color: #583d72;
}

header h1 {
  font-family: Fredericka the great;
  font-size: 90px;
  text-shadow: 30px;
  vertical-align: baseline;
  margin-bottom: 0.25em;
}

header h2 {
  font-family: Shadows Into Light Two;
  font-size: 50px;
}

h2 {
  font-weight: bold;
  font-size: 50px;
}

hr {
  width: 15%;
  height: 0.5px;
  background: #000000;
}

.formulario hr {
  width: 15%;
  height: 0.5px;
  background: #ffffff;
}

.primera {
  /* text-align: right; */
  background-image: url('../img/Arya-y-yo-color.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color:#ffffff;
  text-shadow: 0.125em 0.25em 0.125em #707070;
  padding: 22.25rem 9.125rem;
}

.biografia {
  background: #c70039;
}

.experiencia {
background: #ffffff;
}

.trabajos {
  background: #f37121;
}


.cajas {
  background: #f37121;
}

.formulario {
    background: #c0e218;
}


.formulario h4 {
  font-weight: bold;
  font-size: 30px;
}

footer {
  background: #111d5e;
}

footer p {
  font-family: Fredericka the great;
  font-size: 60px;
  font-weight: regular;
  color: #ffffff;
}
