body {
  font-family: Poppins;
}

body * {
  margin: 0px;
  padding: 0px;
}

.navbar-brand p {
  font-family: Fredericka the great;
  font-size: 60px;
  font-weight: normal;
  color: #ffffff;
  text-shadow: 0.110em 0.08em 0.110em #adb5bd;
}

.navbar {
  background: #111d5e;
}

header h1 {
  font-family: Fredericka the great;
  font-weight: regular;
  font-size: 120px;
  position: absolute;
  bottom: -380px;
  right: 20px;
  color: #ffffff;
}

header h2 {
  font-family: Dancing Script;
  font-weight: regular;
  font-size: 80px;
  position: absolute;
  bottom: -220px;
  right: 20px;
  color: #ffffff;
}

h2 {
  font-family: Fredericka the great;
  font-weight: regular;
  font-size: 70px;
  color: #373A3C;
  text-shadow: 0.110em 0.10em 0.110em #adb5bd;
}

h3 {
  font-family: Lobster;
  font-weight: 400;
  font-size: 60px;
  color: #ffffff;
  text-shadow: 0.100em 0.10em 0.100em #495057;
}

hr {
  width: 10%;
  height: 0.5px;
  background: #373A3C;
  margin-top: 20px;
  margin-bottom: 60px;
}

header {
  background-image: url('../img/Arya-y-yo-color.jpg');
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position:top;
  padding: 35rem 12rem;
}

.biografia {
  background: #c70039;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.7);
}

.biografia p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 300;
  color: #ffffff;
  line-height: 200%;
  text-align: justify;
}

.biografia h3 {
  font-family: Fredericka the great;
  font-size: 80px;
  font-weight: regular;
  color: #ffffff;
  line-height: 200%;
  text-align: justify;
}


.biografia hr {
  background: #ffffff;
}

.experiencia img {
  width: 35%;
  height: 130px;
}

.experiencia h5 {
  font-size: 20px;
  font-weight: 400;
  color: #373A3C;
  margin-top: 15px;
  line-height: 100%;
}

.experiencia p {
  font-size: 14px;
  font-weight: 400;
  color: #373A3C;
  margin-top: 15px;
  line-height: 100%;
}

.intereses{
  font-family: Poppins;
  font-size: 40px;
  font-weight: 500;
}

.cuadrado {
  background: #111d5e;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.7);
}

.carousel-indicators {
  top: 50px;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 25%;
}

.unico {
  width: 100%;
  height: 0.5px;
  background: #373A3C;
  margin-top: 20px;
}

.trabajos {
  background: #f37121;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.7);
}

.trabajos h2 {
  text-shadow: none;
}

footer {
  background: #c0e218;
  box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.7);
  padding-top: 20px;
  padding-bottom: 20px;
}

footer p {
  font-family: Fredericka the great;
  font-size: 40px;
  font-weight: normal;
  color: #ffffff;
  text-shadow: 0.110em 0.08em 0.110em #adb5bd;
}

footer i {
  margin: 0 0.25em 0.5em 0.25em;
}



@media only screen and (max-width: 425px) {

  header {
    background-image: url('../img/Mayreni2.jpg');
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    padding: 10rem 0;
  }

  header h1 {
    font-family: Poppins;
    font-weight: regular;
    font-size: 40px;
    color: #ffffff;
    position: absolute;
    bottom: 180px;
    right: 10px;
    text-shadow: 0.110em 0.08em 0.110em #adb5bd;
  }

  header h2 {
    font-family: Poppins;
    font-weight: regular;
    font-size: 30px;
    position: absolute;
    bottom: 240px;
    right: 20px;
    color: #ffffff;
    text-shadow: 0.110em 0.08em 0.110em #adb5bd;
  }

  .navbar-brand p {
    font-family: Fredericka the great;
    font-size: 40px;
    font-weight: normal;
    color: #ffffff;
    text-shadow: 0.110em 0.08em 0.110em #adb5bd;
  }

  h2 {
    font-family: Poppins;
    font-weight: 500;
    font-size: 30px;
    color: #373A3C;
    text-shadow: 0.110em 0.10em 0.110em #adb5bd;
  }

  .experiencia img {
    width: 35%;
    height: auto;
    margin-top: 20px;
  }

  .experiencia h2 {
    font-size: 30px;
    margin-top: 10px;
  }

  .experiencia p {
    font-size: 12px;
    font-weight: 300;
    color: #373A3C;
    margin-top: 15px;
    line-height: 100%;
    margin-bottom: 20px;
  }



}
